<div class="container">
    <div class="pg-titles mt-4 flex justify-between items-center">
        <div class="title ">
            <h2 class=" font-semibold sm:text-2xl sm:ml-4">
                Joy's Profile
            </h2>
        </div>
     </div>

     <div class="user-details m-2 ml-9 sm:text-xl flex-col w-10/12 "  >
           
            <label for="username" >Username:</label><br>
            <p class="mb-3 border bg-[#E1E5F2] w-10/12 rounded p-1">Joy Mary</p>
            <br>
            <label for="email" >email:</label><br>
            <p class="mb-3 border bg-[#E1E5F2] w-10/12 rounded p-1">Joy@gmail.com</p>            
            <br>
            <label for="location" >location:</label><br>
            <p class="mb-3 border bg-[#E1E5F2] w-10/12 rounded p-1">Nyeri</p>            
            <br>
            <label for="about" >About me:</label><br>
            <p class="mb-3 border bg-[#E1E5F2] w-10/12 rounded p-1">A whoole lot about me</p>           
                   
     </div>

     <div class=" mt-10 w-11/12 ">
        <div class="pg-titles mt-4 flex justify-between items-center">
           <div class="title ">
               <h2 class=" font-semibold sm:text-2xl sm:ml-4">
                   Joy's Questions
               </h2>
           </div>
           <div class="filter mr-4 bg-[#E1E5F2] rounded-md flex items-center">
             <input type="text" class="bg-[#E1E5F2] rounded-md">  
             <svg class="mr-2" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M3.9 54.9C10.5 40.9 24.5 32 40 32H472c15.5 0 29.5 8.9 36.1 22.9s4.6 30.5-5.2 42.5L320 320.9V448c0 12.1-6.8 23.2-17.7 28.6s-23.8 4.3-33.5-3l-64-48c-8.1-6-12.8-15.5-12.8-25.6V320.9L9 97.3C-.7 85.4-2.8 68.8 3.9 54.9z"/></svg>
           </div>
        </div>
       <div class="all-questions mt-5" >
           <div class="one-question border m-3 p-3 sm:flex sm:justify-between sm:items-center " >
           <div class="question-tags mb-3 flex-col p-3">
               <p class="sm:font-semibold text-xl">Question</p>
               <p >tag tag</p>
           </div>
           <div class="answers-date bg-[#E1E5F2] rounded-md w-fit  p-3 ">
               <p>2 Answers</p>
               <p class="font-light">Asked on : 1/1/23</p>
           </div>
       
           </div>
       </div>
       
       </div>
       
</div>


