<div class=" h-screen w-11/12 ">
 <div class="pg-titles mt-4 flex justify-between items-center">
    <div class="title ">
        <h2 class=" font-semibold sm:text-2xl sm:ml-4">
            Top Questions
        </h2>
    </div>
    <div class="filter mr-4 rounded-md flex gap-2 items-center">
        <button class="bg-[#1F7A8C] hover:bg-[#BFDBF7] text-white font-bold py-2 px-4 rounded" (click)="all()">all</button>
        <button class="bg-[#1F7A8C] hover:bg-[#BFDBF7] text-white font-bold py-2 px-4 rounded" (click)="answered()">answered</button>
        <button class="bg-[#1F7A8C] hover:bg-[#BFDBF7] text-white font-bold py-2 px-4 rounded" (click)="unanswered()">unanswered</button>
        
          </div>
 </div>
<div class="all-questions mt-5" *ngIf="questions$.length; else alternateTemplate">
    <div class="one-question border m-3 p-3 sm:flex sm:justify-between sm:items-center " *ngFor="let question of questions$" [ngClass]="{'answered':question.answer_count!>0}">
    <div class="question-tags mb-3 flex-col p-3">
        <p class="sm:font-semibold text-xl cursor-pointer" [routerLink]="'/home/question/'+question.qid" >{{question.title}}</p>
        <div class="tags-container">
            <div  *ngIf="question.tag_names">
                <p class="text-[#1F7A8C] text-xs">{{question.tag_names | hashPrefix}}</p>
             </div>
       
        </div>
    </div>
    <div class="answers-date bg-[#E1E5F2] rounded-md w-fit  p-3 ">
        <p>{{question.answer_count}} Answers</p>
        <p class="font-light">Asked on : {{question.date | date}}</p>
    </div>

    </div>
</div>

<ng-template #alternateTemplate>
    <div>
      <p>No Questions Found</p>
    </div>
  </ng-template>

</div>


