<div class="container">
    <div class="pg-titles mt-4 flex justify-between items-center">
        <div class="title ">
            <h2 class=" font-semibold sm:text-2xl sm:ml-4">
                Ask Question
            </h2>
        </div>
     </div>

     <form class=" m-2 ml-9 sm:text-xl flex-col w-10/12 "  [formGroup]="form" (ngSubmit)="onSubmit()" >
      <p *ngIf="invalid" class="text-sm text-red-600">{{invalid}}</p>
      <p *ngIf="msg" class="text-sm text-green-600">{{msg}}</p>
          <div class="inputs ">
            <label for="title" >Question Title:</label><br>
            <input type="text" id="title" formControlName="title" class="mb-3 border bg-[#E1E5F2] w-10/12 rounded p-1" placeholder="What is a div?" required>
            <div *ngIf="form.get('title')?.invalid && (form.get('title')?.dirty || form.get('title')?.touched)">
              <div *ngIf="form.get('title')?.errors?.['required']" class="text-xs text-red-600">Question title is required</div>
            </div>
            </div><br>
            <label for="question" >Question Description:</label><br>
            <textarea rows="5" cols="16" id="question" formControlName="body" class="mb-3 border bg-[#E1E5F2] w-10/12 rounded p-1 " placeholder="Enter your question's details" required></textarea>
            <div *ngIf="form.get('body')?.invalid && (form.get('body')?.dirty || form.get('body')?.touched)">
              <div *ngIf="form.get('body')?.errors?.['required']" class="text-xs text-red-600">Question description is required</div>
            </div>


           <br>
            <label for="tags">Tags:</label><br>
            <input  multiple type="text" id="tags" formControlName="tags" class="border bg-[#E1E5F2] w-10/12 rounded p-1 mb-3 "  > 
           
            <div *ngIf="form.get('tags')?.invalid && (form.get('tags')?.dirty || form.get('tags')?.touched)">
              <div *ngIf="form.get('tags')?.errors?.['required']" class="text-xs text-red-600">Question tag is required</div>
            </div>
            <br>
          <button class="mt-5  bg-[#1F7A8C] pt-1 pb-1 pl-3 pr-3 rounded-md text-white mb-3 ">Post</button>
       
        </form>
</div>
<app-error *ngIf="msg" [message]="msg"></app-error>