
<div class="container  flex flex-col justify-center items-center h-screen">
  <div class="border flex justify-center w-7/12 m-4 rounded-3xl sm:w-5/12"> 
    <form class=" sm:text-xl w-full m-2  " [formGroup]="form" (ngSubmit)="logIn()">
      <!-- <form class=" sm:text-xl w-full m-2 flex-col items-center " [formGroup]="form" (ngSubmit)="logIn()"> -->
        <h1 class=" text-2xl sm:text-3xl font-semibold text-[#1F7A8C] sm:mt-12 mb-6 text-center">Login</h1>
        <div class="inputs w-3/4">
          <label for="email" >Email:</label><br>
          <input type="text" id="email" formControlName="email" class="mb-3 border bg-[#E1E5F2] w-11/12  rounded p-1" placeholder="Enter your email" required>
          <div *ngIf="form.get('email')?.invalid && (form.get('email')?.dirty || form.get('email')?.touched)">
            <div *ngIf="form.get('email')?.errors?.['required']" class="text-xs text-red-600">Email is required</div>
            <div *ngIf="form.get('email')?.errors?.['email']" class="text-xs text-red-600">Incorrect email format</div>
          </div>
          
          <br>
          <label for="password">Password:</label><br>
          <input type="password" id="password" formControlName="password" class="border bg-[#E1E5F2] w-11/12 rounded p-1" placeholder="Enter your password" required>
          <div *ngIf="form.get('password')?.invalid && (form.get('password')?.dirty || form.get('password')?.touched)">
            <div *ngIf="form.get('password')?.errors?.['required']" class="text-xs text-red-600">Password is required</div>
          </div> <br>
          <a class="text-sm text-[#1F7A8C] " href="">forgot password?</a> <br>
        </div>
        
       
        <button type="submit" class="mt-5 bg-[#1F7A8C] pt-1 pb-1 pl-3 pr-3 rounded-md text-white mb-4 "   >Login</button>  <br>
         <p class="text-sm">Don't have an account? <a routerLink="/signup">signup</a></p>
      </form>
</div>
</div>
