<div class="container  flex flex-col justify-center items-center h-screen">
    <div class="border flex justify-center w-10/12 rounded-3xl sm:w-5/12"> 
      <form class=" m-2 sm:text-2xl w-full flex-col"  [formGroup]="form" (ngSubmit)="signup()">
          <h1 class="self-center  text-2xl sm:text-5xl font-semibold text-[#1F7A8C]  sm:mt-12 mb-6">Signup</h1>
          <label for="username" >Username:</label><br>
          <input type="text" id="username" formControlName="username" class="mb-3 border bg-[#E1E5F2] w-10/12 rounded p-1" placeholder="Enter your username"><br>
          <label for="email" >Email:</label><br>
          <input type="text" id="email" formControlName="email" class="mb-3 border bg-[#E1E5F2] w-10/12 rounded p-1" placeholder="Enter your email"><br>
          <label for="password">Password:</label><br>
          <input type="text" id="password" formControlName="password" class="border bg-[#E1E5F2] w-10/12 rounded p-1 mb-3 " placeholder="Enter your password"> <br>
          <label for="cpassword">Confirm Password:</label><br>
          <input type="text" id="cpassword" formControlName="cpassword" class="border bg-[#E1E5F2] w-10/12 rounded p-1 mb-3 " placeholder="Confirm your password"> <br>
          <button class="mt-5  bg-[#1F7A8C] pt-1 pb-1 pl-3 pr-3 rounded-md text-white mb-3  ">Signup</button>
       
        </form>
  </div>
  </div>
