<div class="container  flex flex-col justify-center items-center h-screen">
    <div class="signup-container border flex justify-center w-10/12 rounded-3xl sm:w-5/12"> 
      <form class=" m-2 sm:text-xl w-full flex-col"  [formGroup]="form" (ngSubmit)="signup()">
        <p class="text-xs text-red-600" *ngIf="invalid">{{invalid}}</p>
          <h1 class="self-center  text-2xl sm:text-3xl font-semibold text-[#1F7A8C]  sm:mt-12 mb-6 ">Signup</h1>
          <div class="inputs w-3/4 ">
            <label for="username" >Username:</label><br>
            <input type="text" id="username" formControlName="username" class="mb-3 border bg-[#E1E5F2] w-10/12 rounded p-1" placeholder="John Doe" required>
            <div *ngIf="form.get('username')?.invalid && (form.get('username')?.dirty || form.get('username')?.touched)">
              <div *ngIf="form.get('username')?.errors?.['required']" class="text-xs text-red-600">Username is required</div>
             
            </div><br>
            <label for="email" >Email:</label><br>
            <input type="text" id="email" formControlName="email" class="mb-3 border bg-[#E1E5F2] w-10/12 rounded p-1" placeholder="john@gmail.com" required>
            <div *ngIf="form.get('email')?.invalid && (form.get('email')?.dirty || form.get('email')?.touched)">
              <div *ngIf="form.get('email')?.errors?.['required']" class="text-xs text-red-600">Email is required</div>
              <div *ngIf="form.get('email')?.errors?.['email']" class="text-xs text-red-600" class="text-xs text-red-600">Incorrect email format</div>
            </div><br>
            <label for="password">Password:</label><br>
            <input type="password" id="password" formControlName="password" class="border bg-[#E1E5F2] w-10/12 rounded p-1 mb-3 " placeholder="******" required> 
            <div *ngIf="form.get('password')?.invalid && (form.get('password')?.dirty || form.get('password')?.touched)">
              <div *ngIf="form.get('password')?.errors?.['required']" class="text-xs text-red-600">Password is required</div>
            <div *ngIf="form.get('password')?.errors?.['pattern']" class="text-xs text-red-600">Make password stronger</div>
            </div><br>
            <label for="cpassword">Confirm Password:</label><br>
            <input type="password" id="cpassword" formControlName="cpassword" class="border bg-[#E1E5F2] w-10/12 rounded p-1 mb-3 " placeholder="******" required>
            <div *ngIf="form.get('cpassword')?.invalid && (form.get('cpassword')?.dirty || form.get('cpassword')?.touched)">
            
              <div *ngIf="form.get('cpassword')?.errors?.['required']" class="text-xs text-red-600">Password is required</div>
            </div> 
            <div *ngIf="matchingPWD" class="text-xs text-red-600">{{matchingPWD}}</div><br>
          </div>
         
          <button class="mt-5  bg-[#1F7A8C] pt-1 pb-1 pl-3 pr-3 rounded-md text-white mb-3  ">Signup</button>
       
        </form>
  </div>
  </div>
