
<div class="navbar flex justify-between items-center mt-4 border-b-2 w-full">
    <div class="stack-o flex ">
        <div class="logo w-16 h-16 ml-2">
            <img src="../../assets/logo stack overflow.svg" alt="" srcset="">
        </div>
        <div class="title ">
            <h3 class="sm:ml-1">
                STACK <br>
                <span class="ml-3 font-semibold"> 
                    OVERFLOW
                </span> 
            </h3>
        </div>
    </div>
    <div  >
    <form (ngSubmit)="onSubmit(searchForm)" #searchForm="ngForm"  class=" hidden search bg-[#E1E5F2] h-6 sm:flex outline-none border-none justify-center items-center rounded-md">
        <input type="text" name="searchStr" id="search"  ngModel
        class="bg-[#E1E5F2] w-10/12 p2 " placeholder="search questions" required
        >
        <button type="submit" (click)="searchForm.ngSubmit.emit()">
        <svg  xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z" class="cursor-pointer"/></svg> </button>
        <br>
        
    </form>
    <p class="text-xs text-red-600" *ngIf="invalid">{{invalid}}</p>
</div>
    <div class="user flex gap-5 sm:items-center order-2">
        <div class="name-letter bg-[#1F7A8C] p-2 h-fit text-white rounded-md cursor-pointer" routerLink="/home/update">
           <p>J</p>
        </div>
        <button class="name-letter bg-[#BFDBF7] p-2 h-fit text-black rounded-md mr-7 cursor-pointer" (click)="logout()" >Logout</button>
    </div>

  
  </div>
  
<div class="down sm:flex">


  <div class="sidebar sm:w-1/6 border sm:h-screen   flex justify-between sm:flex-col sm:justify-start sm:gap-10">
    <!-- Sidebar content -->
<h4 class="mt-3 p-3 cursor-pointer" routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</h4>
<h4 class="p-3 cursor-pointer" routerLink="/home/your-questions" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Your Questions</h4>
<h4 class="p-3 cursor-pointer" routerLink="/home/tags" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Tags</h4>
<h4 class="p-3 cursor-pointer"  routerLink="/home/ask" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Ask a Question</h4>
  </div>
  
  <div class="main-content w-full">
  <div *ngIf="questions">
    <div class="title flex justify-between ">
        <h2 class=" font-semibold sm:text-2xl sm:ml-4">
            Search Results
        </h2>
        <button class="bg-[#1F7A8C] mr-5 hover:bg-[#BFDBF7] text-white font-bold py-2 px-4 rounded" (click)="close()">CLOSE</button>

    </div>
    <div class="all-questions mt-5" >
        <div class="one-question border m-3 p-3 sm:flex sm:justify-between sm:items-center " *ngFor="let question of questions" [ngClass]="{'answered':question.answer_count!>0}">
        <div class="question-tags mb-3 flex-col p-3">
            <p class="sm:font-semibold text-xl cursor-pointer" [routerLink]="'/home/question/'+question.qid" (click)="close()" >{{question.title}}</p>
            <div class="tags-container">
                <div  *ngIf="question.tag_names">
                    <p class="text-[#1F7A8C] text-xs">#{{question.tag_names}}</p>
                 </div>
           
            </div>
        </div>
        <div class="answers-date bg-[#E1E5F2] rounded-md w-fit  p-3 ">
            <p>{{question.answer_count}} Answers</p>
            <p class="font-light">Asked on : {{question.date | date}}</p>
        </div>
    
        </div>
    </div>
  </div>
    <ng-component *ngIf="!questions">

        <router-outlet></router-outlet>
    </ng-component>
    
</div>
</div>